@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@source inline('{row-span-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{col-span-{1,2,3,4,5,6,7,8,9,10,11,12}');


@layer base {
  * {
    @apply text-zinc-300 border-zinc-700;
  }
}

body {
  background-color: var(--color-zinc-900);
}
